root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 120

charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

android = true
ktlint_standard = enabled
ktlint_standard_multiline-expression-wrapping = enabled
ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_no-semi = disabled
ktlint_standard_annotation = disabled
ktlint_standard_max-line-length = disabled
ktlint_code_style = ktlint_official
